* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

body {
  color: white;
  font-family: "Roboto", sans-serif;
  background: rgb(15, 15, 15);
}

header {
  top: 0;
  position: fixed;
  background: rgb(15, 15, 15);
  height: 56px;
  width: 100vw;
  padding: 17px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  z-index: 1;
  gap: 10px;
}

a {
  color: white;
}

.main_block-video {
  position: absolute;
  width: calc(100% - 72px);
  top: 54px;
  right: 0;
}

.burger {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.burger > img:first-child {
  border-radius: 50%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 12px;
  width: 40px;
  height: 40px;
  overflow: visible;
  cursor: pointer;
}
.burger > img:first-child:hover {
  background: rgba(128, 128, 128, 0.23);
}

.burger__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 35px;
  margin-left: 24px;
  gap: 5px;
  cursor: pointer;
}
.burger__logo img {
  height: 35px;
}
.burger__logo p {
  position: relative;
  font-size: 18px;
  font-weight: 600;
}
.burger__logo p span {
  position: absolute;
  top: -5px;
  right: -15px;
  color: rgb(170, 170, 170);
  font-weight: 500;
  font-size: 10px;
}

.search {
  max-width: 625px;
  width: 100%;
  border: 1px solid hsl(0, 0%, 18.82%);
  border-radius: 50px;
  background: rgb(18, 18, 18);
  height: 40px;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.search input {
  height: 100%;
  width: 90%;
  background: none;
  border: none;
  color: white;
  padding: 0 20px;
  font-size: 16px;
}
.search button {
  width: 10%;
  height: 100%;
  background: rgb(34, 34, 34);
}

.account {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 15px;
  height: 40px;
}

.create {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 5px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 600;
  width: 100px;
  height: 36px;
  background: hsl(0, 0%, 18.82%);
  border-radius: 50px;
  cursor: pointer;
}
.create:hover {
  background: rgba(255, 255, 255, 0.2);
}
.create img {
  width: 15px;
}

.notification {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 100%;
  width: auto;
  padding: 7px;
  border-radius: 50%;
  cursor: pointer;
}
.notification img {
  width: 100%;
  height: 100%;
}
.notification:hover {
  background: rgba(255, 255, 255, 0.2);
}

.ava {
  height: 36px;
  width: 36px;
  border-radius: 50%;
  background: red;
  cursor: pointer;
}

aside {
  position: fixed;
  left: 0;
  top: 56px;
  height: 100%;
  width: 72px;
  background: rgb(15, 15, 15);
  z-index: 0;
  padding: 0 4px;
}

.nav_block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 7px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 10px;
  width: 100%;
  height: 74px;
  padding: 20px;
  font-size: 10px;
  cursor: pointer;
}
.nav_block:hover {
  background: rgba(255, 255, 255, 0.2);
}

.video_grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 16px 1fr 16px 1fr 16px 1fr;
  grid-template-columns: repeat(4, 1fr);
  gap: 16px;
  padding: 24px;
}

.video_grid-block {
  cursor: pointer;
  -webkit-box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
          box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.video_grid-block .video_thumbnail {
  border-radius: 10px;
  background: #ccc;
  height: 250px;
  width: 100%;
}
.video_grid-block .video_info {
  margin-top: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 5px;
}
.video_grid-block .video_title {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 8px;
  max-width: 400px;
  line-height: 22px;
  word-wrap: break-word;
}
.video_grid-block .video_details .channel_name {
  font-size: 12px;
  font-weight: 500;
  color: rgb(170, 170, 170);
}

.video_channel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 8px;
}

.video_avatar {
  background: #888;
  border-radius: 50%;
  height: 35px;
  width: 35px;
  margin-right: 8px;
}

.video_stats {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 12px;
  color: #888;
}

.video_views {
  color: rgb(170, 170, 170);
}

.video_player {
  width: 500px;
  height: 200px;
}

h1 {
  font-size: 22px;
  font-weight: 600;
  margin-top: 15px;
}

iframe {
  aspect-ratio: 16/9;
  width: 100%;
  max-height: 700px;
  height: 100%;
  border-radius: 20px;
}

.open_video {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  margin-top: 70px;
}

.open_video-info {
  width: 72%;
}
.open_video-info hr {
  width: 100%;
  height: 1px;
  background: rgb(63, 63, 63);
}

.open_video-other {
  width: 25%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  padding: 0 20px 0 20px;
}

.open_video-channel {
  margin: 10px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  height: 40px;
}
.open_video-channel > img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.open_video-channel-name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 5px;
  height: 100%;
}

.channel_name {
  font-size: 16px;
  font-weight: 600;
}

.subscribes_count {
  font-size: 12px;
  color: #AAAAAA;
}

.open_video-description {
  position: relative;
  margin-top: 10px;
  width: 100%;
  border-radius: 10px;
  background: rgb(39, 39, 39);
  padding: 15px;
  font-size: 14px;
  max-height: 100px;
  height: 100%;
  overflow: hidden;
  cursor: pointer;
}

.views_date {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 5px;
  font-weight: 600;
}

.description {
  margin-top: 5px;
  line-height: 25px;
}

.loader_videos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.loader_videos-circle {
  border: 4px solid rgba(220, 220, 220, 0.1);
  border-top: 4px solid #ffffff;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  -webkit-animation: spin 0.6s linear infinite;
          animation: spin 0.6s linear infinite;
  margin: 20px auto;
}

.more_description {
  position: absolute;
  right: 15px;
  bottom: 5px;
  font-weight: 600;
}

.open_description {
  max-height: -webkit-fit-content;
  max-height: -moz-fit-content;
  max-height: fit-content;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
.open_burger {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  width: 100vw;
  position: fixed;
  height: 100vh;
  background: rgba(0, 0, 0, 0.38);
  z-index: 10;
  visibility: hidden;
  opacity: 0;
}

.open_burger-bg {
  visibility: visible;
  opacity: 1;
}

.open_burger-block {
  height: 100vh;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  overflow-y: auto;
  width: 240px;
  position: absolute;
  top: 0;
  left: -300px;
  background: rgb(15, 15, 15);
  scrollbar-width: thin;
  scrollbar-color: rgb(113, 113, 113) transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 12px;
}
.open_burger-block::-webkit-scrollbar {
  width: 8px;
}
.open_burger-block::-webkit-scrollbar-track {
  background: transparent;
}
.open_burger-block::-webkit-scrollbar-thumb {
  background-color: rgb(113, 113, 113);
  border-radius: 10px;
  border: 2px solid transparent;
  background-clip: padding-box;
}
.open_burger-block:hover::-webkit-scrollbar-thumb {
  background-color: rgb(145, 145, 145);
}

.open_burger-block-active {
  left: 0;
}

.open_burger-nav {
  margin-top: 24px;
  padding-bottom: 12px;
  border-bottom: 1px solid rgb(113, 113, 113);
}
.open_burger-nav .block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 12px;
  font-size: 14px;
  width: 100%;
  height: 40px;
  padding: 0 12px;
  border-radius: 10px;
}
.open_burger-nav .block:hover {
  background: rgba(255, 255, 255, 0.2);
}
.open_burger-nav .block p {
  margin-left: 20px;
}

.open_video-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 7px;
  width: 100%;
  cursor: pointer;
}
.open_video-block .video_thumbnail {
  border-radius: 10px;
  background: #ccc;
  height: 94px;
  width: 168px;
}
.open_video-block .video_title {
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 8px;
  max-width: 250px;
  max-height: 40px;
  overflow: hidden;
  line-height: 18px;
  word-wrap: break-word;
}
.open_video-block .video_details .channel_name {
  font-size: 12px;
  font-weight: 500;
  color: rgb(170, 170, 170);
}

main {
  width: 100%;
  height: 100%;
}

.shorts_video {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 15px;
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin-top: 70px;
}

.shorts_video-block {
  height: 849px;
  width: 500px;
  background: red;
  border-radius: 10px;
}