.channel_page{
  margin-top: 66px;
  display: flex;
  justify-content: center;
  padding-left: 72px;
  width: 100%;
}
.channel_container{
  max-width: 1284px;
  width: 100%;
  height: 1000px;
}
.channel_header{
  width: 100%;
  border-radius: 15px;
  object-fit: cover;
  aspect-ratio: 642 / 103;

}
.channel_information{
  display: flex;
  gap: 10px;
  margin-top: 25px;
  .channel_information-ava{
    width: 160px;
    height: 160px;
    border-radius: 50%;
  }
}
.channel_information-details{
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.channel_display-name{
  font-size: 36px;
  font-weight: bold;
}
.channel_username-subscribers{
  display: flex;
  gap: 5px;
  .channel_username{
    font-size: 14px;
    font-weight: 600;
  }
  .center_dot, .channel_subscribers{
    font-size: 14px;
    color: #aaa;
  }
}
.channel_description {
  position: relative;
  max-width: 590px;
  overflow: hidden;
  height: 1rem;
  font-size: 14px;

  .channel_description-text {
    color: #aaa;
    white-space: nowrap;
    overflow: hidden;
    display: block; // или inline-block
    text-overflow: ellipsis;
    mask-image: linear-gradient(to right, black 70%, transparent);
  }

  .channel_description-more {
    position: absolute;
    right: 0;
    top: 0;
    font-weight: 600;
  }
}
.channel_videos{
  margin-top: 25px;
  display: flex;
  flex-wrap: wrap;
  align-content: stretch;
  gap: 15px;
}
.channel_video-block{
  cursor: pointer;
  flex: 1 1 calc(25% - 12px);
  .video_thumbnail{
    aspect-ratio: 16/9;
    width: 100%;

    background: gray;
    border-radius: 10px;
  }
  .video_title{
    margin-top: 10px;
    font-size: 14px;
    line-height: 1.4rem;
  }
  .video_views{
    margin-top: 10px;
    font-size: 12px;
  }
}
@media (max-width: 1440px) {
  .channel_container{
    max-width: 1070px;
  }
}
@media (max-width: 1155px) {
  .channel_container{
    max-width: 856px;
  }
  .channel_video-block{
    flex: 1 1 calc(33.3333% - 12px);
  }
}
@media (max-width: 1155px) {
  .channel_container{
    max-width: 642px;
  }
  .channel_video-block{
    flex: 1 1 calc(50% - 12px);
  }
  .channel_description {
    max-width: 400px;
  }
  .homepage_aside{
    opacity: 0;
  }
  .channel_page{
    padding: 20px;
  }
  .channel_information{
    .channel_information-ava{
      width: 100px;
      height: 100px;
    }
  }
}

@media (max-width: 680px) {
  .channel_container{
    max-width: 428px;
  }
  .channel_video-block{
    flex: 0 1 auto;
    max-width: 320px;
  }
  .channel_videos{
    justify-content: center;
  }
  .channel_description {
    max-width: 300px;
  }
  .channel_information{
    .channel_information-ava{
      height: 100%;
    }
  }

}
@media (max-width: 490px) {
}